.footer {
    min-height: 630px;
    position: relative;


    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 68px 60px 68px;

    }

    &__adr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;

    }

    &__phone {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        display: block;
        text-align: center;
        margin-bottom: 38px;

        &:hover {
            color: #FFFFFF;
        }

    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin: 0 14px;
            transition: transform 0.25s;

            &:hover {
                transform: scale(1.2);
                border-radius: 100%;
            }
        }
    }
}
